h1 {
  font-size: 30px;
  max-width: 250px !important;
  margin: 0 !important;
}
.card-body {
  padding: 30px !important;
}

.link {
  font-size: 13px;
}

.creator {
  font-size: 13px;
}

.Search {
  display: inline !important;
  width: 300px !important;
  border-radius: 10px;
}

.search-btn {
  background: #87cefa;
  border: 1px solid #ffe69a;
  font-size: 20px;
  line-height: 25px;
  color: #ffff;
  padding: 6px 12px;
  border-radius: 8px;
  margin: 5px 0 5px;
}

.info-btn {
  background: #87cefa;
  border: 1px solid #ffe69a;
  font-size: 20px;
  line-height: 25px;
  color: #ffff;
  padding: 6px 12px;
  border-radius: 8px;
  margin: 5px 0 5px;
}

.search-engine {
  padding: 10px !important;
}
