.current {
  text-align: center !important;
  font-size: 70px !important;
}
.units {
  font-size: 20px;
}

.figures {
  padding: 30px !important;
}
.current-info {
  padding: 20px 10px !important;
  font-size: 30px !important;
}

li {
  list-style: none;
}

.subheading {
  text-transform: capitalize;
  font-size: 20px;
  margin: 0;
}
