.current {
  text-align: center !important;
  font-size: 70px !important;
}

.figures {
  padding: 30px !important;
}
.current-info {
  padding: 20px 10px !important;
  font-size: 30px !important;
}

.units {
  font-size: 10px;
}

li {
  list-style: none;
}
